
.ce-banner {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    font-size: 1rem;
    padding: 2rem 1rem;
    z-index: 9999;
    background-color: #fff;
    text-align: center;
  }
  
  .ce-banner__inner {
    width: 50%;
    margin: 0 auto;
    text-align: left;
  }
  
  
  .ce-banner__inner a {
    color: #000;
    display: inline;
  }
  
  
  .ce-accept {
    padding: .6rem 1.5rem;
    color: #000;
    text-transform: uppercase;
    border-radius: 4rem;
    float: right;
    font-size: .8rem;
    margin-top: 1.5rem;
  
    background-color: #ccc;
    border-color: #bbb;
  }
  
  a.ce-accept {
    padding: .6rem 1.5rem;
  }
  
  .ce-banner__text{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
  }